{% extends 'userbase.html' %}
{% load static %}
{% block content_data %}
<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about pt-5">
        <div class="container pt-lg-5 py-3">
        </div>
    </div>
</section>

<section class="signup">
    <div class="container">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Sucessfully Accepted</h2>
            </div>
        </div>
    </div>
</section>

{% endblock content_data %}